
.header{
    padding-top:5px;
    position: relative;
    width:100%;
    background:#FFF;
    border-top:solid 3px #F2B111;
}

.header .header-logo{
    width: 209px;
    height: 163px;
}

.header .header-logo img{
    width: 100%;
    height: 100%;
}

.content,.content-lg{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}

.content-lg{
    max-width: 1400px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.align-center{
    align-items: center;
}

.header-content{
    position: relative;
    display: flex;
    width: calc(100% - 209px);
    flex-direction: column;
    padding-left:64px;
}

.header-links,.navigator{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.header-links {
    height: 40%;
}

.navigator {
    height: 60%;
}

.uppercase{
    text-transform: uppercase;
}

.bolder{
    font-weight: bolder;
}


.header-links ul li a,
.header-links ul li,
.navigator ul li a{
    padding:10px;
    margin:0 8px;
    font-size:.75em;
}

.navigator ul li a{
    text-transform: uppercase;
}


.wrapper-content{
    width: 100%;
    max-width: 1920px;
    margin:0 auto;
}

.btn{
    border-radius: 45px;
    border:none;
    background:#DDD;
    width: 100%; 
    text-transform: uppercase;
    font-weight: bolder;
    padding:15px 28px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-primary {
    background-color:#F2B111;
    color:#FFF;
}

.btn-primary:hover {
    background-color:#FFF;
    color:#F2B111;
}

.btn-secundary {
    background-color:#1EB691;
    color:#FFF;
}

.btn-void {
    background-color:transparent;
    color:#FFF;
    border: solid 2px #FFF;
}

.btn-void:hover{
    background-color:#FFF;
    color:#222;
}

.btn-secundary:hover {
    background-color:#FFF;
    color:#1EB691;
}

.btn-more-white:hover {
    border-color:#F2B111;
}

.bg-blue{
    background-color: #1A5EAF;
}

.bg-green{
    background-color: #1EB691;
}

.bg-red{
    background-color: #E2583A;
}

.bg-purple{
    background-color: #774AA5;
}

.title{
    font-size:.965em;
    color:#222;
    margin-bottom:10px;
}

.color-primary{
    color:#F2B111
}

.color-secundary{
    color:#1EB691
}

.btn-more-white{
    border-radius: 50%;
    border:solid 2px #FFF;
    width: 40px;
    height: 40px;
    padding:0;
    background-color: transparent;
}
