
.header{
    padding-top:5px;
    position: relative;
    width:100%;
    background:#FFF;
    border-top:solid 3px #F2B111;
    height: auto;
    z-index: 999;
}

.header-fixed {
  transition:1s;
  position: fixed;
  box-shadow:0px 0px 15px -5px rgba(70,70,0,.14);
  transform: translate3d(0,0,0);
}

.header-fixed.animate-up {
  transform: translate3d(0,-171px,0);
}

.header .header-logo{
    width: 209px;
    height: 163px;
}

.header .header-logo img{
    width: 100%;
    height: 100%;
}

.content,.content-lg{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}

.content-lg{
    max-width: 1400px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.align-center{
    align-items: center;
}

.header-content{
    position: relative;
    display: flex;
    width: calc(100% - 209px);
    flex-direction: column;
    padding-left:64px;
}

.header-links,.navigator{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.header-links {
    height: 40%;
}



.navigator {
    height: 60%;
}

.uppercase{
    text-transform: uppercase;
}

.bolder{
    font-weight: bolder;
}


.header-links ul li a,
.header-links ul li,
.navigator ul li a{
    padding:10px;
    margin:0 8px;
    font-size:.85em;
    transition: .3s;
}

.navigator ul li:hover a,
.header-links ul li:hover a{
    opacity: .5;
}

.header-links ul li a {
    color:#838383;
    font-size:1em;
}

.navigator ul li a{
    text-transform: uppercase;
}

.header-links .socials{
    justify-content: space-around;
    padding:0 10px;
}
.header-links .socials a{
    margin:0 10px;
    cursor: pointer;
}

.header-links .login-action{
    align-items: center;
    justify-content: space-around;
    width: 100px;
    cursor: pointer;
    margin:0 15px;
}

.wrapper-content{
    width: 100%;
    max-width: 1920px;
    margin:0 auto;
}

.btn {
    border-radius: 45px;
    border:none;
    background:#DDD;
    width: 100%; 
    text-transform: uppercase;
    font-weight: bolder;
    padding:15px 20px;
    min-width:120px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-primary {
    background-color:#F2B111;
    color:#FFF;
}

.btn-primary:hover {
    background-color:#FFF;
    color:#F2B111;
}

.btn-secundary {
    background-color:#1EB691;
    color:#FFF;
}

.btn-void {
    background-color:transparent;
    color:#FFF;
    border: solid 2px #FFF;
}

.btn-void:hover{
    background-color:#FFF;
    color:#222;
}

.btn-secundary:hover {
    background-color:#FFF;
    color:#1EB691;
}

.btn-more-white:hover {
    border-color:#F2B111;
}

.bg-blue{
    background-color: #1A5EAF;
}

.bg-green{
    background-color: #1EB691;
}

.bg-red{
    background-color: #E2583A;
}

.bg-purple{
    background-color: #774AA5;
}

.title{
    font-size:.965em;
    color:#222;
    margin-bottom:10px;
}

.color-primary{
    color:#F2B111
}

.color-secundary{
    color:#1EB691
}

.btn-more-white{
    border-radius: 50%;
    border:solid 2px #FFF;
    width: 40px;
    height: 40px;
    padding:0;
    background-color: transparent;
}

.color-white{
    color:#FFF;
}

.footer{
    background:#f7f7f7;
}

.grid-footer{
    display: grid;
    grid-template-columns: repeat(4,minmax(200px, 1fr));
    grid-auto-rows: auto;
    padding:30px 0px;
    gap: 40px;
}


.grid-footer .column-footer span{
    display: block;
    margin-bottom: 10px;
    color:#17181C;
    font-weight: normal;
}

.grid-footer .column-footer p{
    color:#838383;
    font-size:.87em;
    line-height: 27px;
}

.footer .header {
    background:transparent;
    border: none;
    padding:25px 0px;
}


.footer .column-footer .socials {
    justify-content: space-between;
    max-width: 180px;
    padding:15px 0px;
}
.footer .column-footer .socials a  {
    cursor: pointer;
}

.footer .column-footer .socials a img{
    display: block;
    width:30px;
}

.copyright{
    justify-content: space-between;
    padding:45px 0px;
}

.bold{
    font-weight: 500;
}

.menu-mb {
    display: none;
    transition:.3s;
}
.menu-mb:active,
.menu-mb:hover {
    background-color: #f7f7f7;
    box-shadow: 0px 0px 15px -3px rgba(70,70,0,.14);
}

@media only screen and (max-width:1024px) {
    .footer {
        padding:0 45px;
    }
}

@media only screen and (max-width:990px) {
    .header {
        padding-top:0px;
    }
    .footer .header .header-logo{
        display: none;
    }
    .header .flex-row.content {
        justify-content: space-between;
        padding:0 5px;
    }
    .grid-footer{
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(1,minmax(200px, 1fr));
    }

    .header .navigator,
    .header .header-links{
        width: 100%;
        height: auto;
        top:0;
        padding:25px 0px;
    }

    .footer .header .header-content,
    .header .header-content {
        display: none;
    }

    .header.header-fixed .navigator ul,
    .header.header-fixed .header-links ul{
        width: 100%;
        padding:0;
        flex-direction: column;
    }

    .header.header-fixed .navigator ul li,
    .header.header-fixed .header-links ul li{
        padding:15px 5px;
        border-bottom: solid 1px #F2B111;
    }

    .header.header-fixed .header-links .socials {
        margin-top:25px;
    }

    .header.header-fixed .header-content.active {
        display: flex;
        position: fixed;
        flex-direction: column-reverse;
        align-self: flex-start;
        width: 100%;
        height: auto;
        padding:0;
        left:0;
        top:70px;
        background: #f7f7f7;
        padding:25px 0;
        box-shadow: 0px 10px 15px -3px rgba(70,70,0,.14);
        z-index: 99;
    }

    .menu-mb {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
    }
    .header.header-fixed .header-logo {
        width: 150px;
        height: 70px;
        z-index: 9;
    }

    .header.header-fixed .header-logo img {
        width: 100px;
        height: 70px;
        margin-right: 25px;
    }
}


/* 
@media only screen and (max-width:425px) {
    .header .header-logo img {
        width: 100px;
        height: 70px;
    }
} */
