.newsletter {
    background-color: #F2B111;
    height: 400px;
    padding-top: 220px;
}

.newsletter .wrapper-newsletter{
    justify-content: space-between;
}

.newsletter .title {
    font-size: 2em;
    font-weight: normal;
    max-width: 450px;
}

.newsletter .title span{
    font-weight: 500;
}

#form-newsletter .title-form {
    margin-bottom: 25px;
    margin-left: 10px;
}

#form-newsletter .wrapper-content-form {
    justify-content: space-around;
}

.input-newsletter{
    width: 100%;
    min-width: 280px;
    border-radius: 45px;
    border:none;
    background:#FFF;
    padding:5px 10px;
    outline: none;
    font-size: .97em;
    margin:0 5px;
}

@media only screen and (max-width:1024px) {
    .newsletter {
        padding: 45px;
        height: auto;
    }
    .newsletter .title {
        padding:0 45px;
        max-width: 100%;
        text-align: center;
    }
    .newsletter .wrapper-newsletter,
    #form-newsletter .wrapper-content-form  {
        flex-direction: column;
    }

    #form-newsletter {
        margin:0 auto;
        text-align: center;
        padding:45px;
        width: 100%;
        max-width: 800px;
    }

    #form-newsletter .wrapper-content-form {
        justify-content: space-between;
    }

    .input-newsletter {
        margin: 5px 0px;
        height: 45px;
    }
}

@media only screen and (max-width:425px) {
    .newsletter,
    #form-newsletter,
    .newsletter .title {
         padding:25px;
    }
    .newsletter .title {
        font-size:1.2em;
    }
    .input-newsletter {
        min-width: 100%;
    }
}

.page .newsletter{
  padding: 55px 0px;
  height: auto;
}