.section-simple{
    width:100%;
    height: auto;
    background:#FFF;
}
 
.section-simple .wrapper{
    padding:40px;
    align-items: center;
}

.ilustring-image{
    width:50%;
}

.simple-content{
    width: 50%;
    padding:74px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 120px;
}


.simple-content .description p{
    color:#838383;
    line-height: 23px;
    font-size:1.31em;
}

.simple-content .description .text-focus{
    color: #17181C;
    font-size:2.4em;
    margin-bottom:25px;
    line-height: 38px;
}

.simple-image{
    overflow: hidden;
    width: 50%;
    height: 450px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.simple-image img{
    flex:1;
}

.action-simple-more{
    max-width: 135px;
    align-self: flex-end;
    margin-top:23px;
}

@media only screen and (max-width:1440px) {
    .section-simple {
        grid-template-columns: repeat(4,minmax(300px,420px));
        font-size:14px;
    }
}

@media only screen and (max-width:1024px) {
    .section-simple .flex-row {
        flex-direction: column;
    }
    .simple-content {
        padding:0;
        width: 100%;
        font-size:12px;
    }
    .simple-image {
        display: none;
    }
 }